doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='')
        title GymBuddy.io
        block header
    body
        header
            a(href='/')
                h1 GymBuddy.io
            span A free, open, non-profit service to find gym buddies

        hr
        block content
        br
        hr

        footer
            p
                a(href='?format=json') Json
                |  | 
                a(target="_blank" href='https://github.com/ramseydsilva/gymbuddy') Contribute
                |  | 
                a(target="_blank" href='https://github.com/ramseydsilva/gymbuddy/issues/new') Issues
                |  | 
                a(href='mailto:ramseydsilva@gmail.com') Contact

