doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='')
        title GymBuddy.io
        block header
    body
        header
            a(href='/')
                h1 GymBuddy.io
            p 
                | A free, open, non-profit service by gymers for gymers. For ways to contribute, please visit our github repo 
                a(target="_blank" href='https://github.com/ramseydsilva/gymbuddy') here
                |.

        hr
        block content
        hr

        footer
            p
                a(href='?format=json') Json
                |  | 
                a(href='https://github.com/ramseydsilva/gymbuddy') About
                |  | 
                a(href='mailto:ramseydsilva@gmail.com') Contact

