extends ../layout

block content
    h2 Create new city
    if (error)
        span Error: #{error}
    form(method='post', action='/cities/new')
        input(type='text', name='city', value=city, placeholder='Enter city name')
        input(type='submit')
    br
    a(href='/cities') View all cities
    br
